body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -------  header footer main ---- */
* {box-sizing: border-box;
padding: 0; margin: 0;}
html, body , div#root, .App{height:100%; width:100%;}

header, footer {
  background-color: rgb(6, 6, 158);
  font-size:1.3em;
  padding: 1em;
  text-align: start;
  color:white;
  height:10%;
  display: flex;
  justify-content: space-between;
  }
  footer{justify-content: center;}
  #main-content
  {
    display: flex;
    border:2px solid red;
    border-radius:1em;
    justify-content:space-evenly;
    height: 78.5%;
    margin: 5px;
    padding: 0.2em;
  }
  #left-column{
    display: flex;
    border-radius:1em;
    width:20%;
    margin: 5px;
    padding: 0.2em;
  }
  #main-column, #side-column {
    display: flex;
    flex-direction:column ;
    width:30%;
    background-color: rgb(208, 230, 169);
    border-radius: 3px;
    padding: 1em;
  }
  #main-column { width: 70%; 
    background-color: rgb(207, 240, 229);}



/*-0---=--  Items CSS*/
 /*----------  Items */
 section#list-items
 {
   height: 604px;
   padding: 1em;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   background: rgb(159, 202, 202);
 }
 section.list-single-item {
   border:2px solid red ;
   border-radius: 3px;
   padding: 5px;
   background-color: rgb(210, 216, 154);
   display: flex;
   flex-direction: column;
   margin: 5px;
 }
 section.list-single-item:hover {
   border:2px dotted darkgray ;
   background-color: rgb(244, 252, 135);
 }

 section.list-single-item section.row-item{
   border:1px dotted red;
   padding:5px;
   display: flex;
justify-content: space-between;
 }
 section.list-single-item section.row-item label 
 {border:1px dotted red;
   padding:5px;}
 section.list-single-item section.row-item input {border:1px dotted red;
   padding:5px;} 


.filter{
  width: 100%;
  margin: 5px 0;

  padding:10px 30px;
  border-radius: 5px;
  background-color: aquamarine;
 
}

.filter div{
  margin-bottom: 3px;
  display: flex;
  justify-content:space-between;
}

.filter div select{
  width: 80%;
}
/* ---header */
#header{
  display: flex;
  align-items: center;
}
#header #warpper{
  width: 60%;
}


#search{
  padding: 10px 20px;
  width: 100%;
}

 /*--------- stats*/
.table-wrapper{
  padding: 5px;
  height: 30%;
  color: white;
  margin: 10px 0px;
  overflow-y: scroll;
}
.table-wrapper table{
  text-align: center;
  margin-top: 3px;
  border-collapse: collapse;
  width: 100%;
}
.table-wrapper table th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: left; */
  background-color: #041daa;
  color: white;
}

.table-wrapper table td{

  width: 33%;
  overflow: hidden; 
  text-overflow:ellipsis;
  padding: 5px 2px;
}
.table-wrapper tr:nth-child(even){background-color: #078f71;}
.table-wrapper tr:nth-child(odd){background-color: #004939;}
.table-wrapper h2{
  border: 2px solid white;
}

.table-stats{
  background-color: red;
}

.table-recent{
  background-color: brown;

}

.table-rank{
background-color: rgb(88, 110, 66);
}

.like{
  padding: 5px;
  border-radius: 50px;
  background-color: greenyellow;
  color: white;
  margin: 2px;
}

.dislike{
  padding: 5px;
  border-radius: 50px;
  background-color: red;
  color: white;
  margin: 2px;
}

.post-text{
  border-radius: 5px;
  margin: 2px auto;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.post-text textarea{
  margin-bottom: 10px;
  width: 80%;
}

.post-text  button{
  padding:5px 10px;
  border: none;
  background-color: aliceblue;
}

/* left-column */

#left-column{
  padding: 20px;
  background-color: rgb(243, 243, 186);
  height: 100%;
  width: 20%;
}

#left-column .wrapper{
  width: 100%;
  display: flex;

  justify-content:flex-start;
  flex-direction: column;
  align-items: center;
}

#left-column .buttons{
  display: flex;
  padding: 20px;
  background-color: purple;
  flex-direction: column;
}
#left-column .buttons h2{
  background-color: purple;
  color: white;
  border: 2px solid white;
  margin-bottom: 20px;
}
#left-column .buttons button{
  padding: 5px 10px;
  margin:5px 3px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgb(133, 5, 5);
  box-shadow: 0px 5px 8px black;

}
